*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 155, 64);
    color: white;
    position: fixed;
    z-index: 1;
    
    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 30px;
        padding: 30px;
        color: rgb(114, 17, 17);
    
    }
    h1{
        padding: 20px 0 16px 0px;
        text-align: center;
    }
}

#sidebar ,hr{
    color: brown;

}

#navbar{
     width: 100%;
     height: 11vh;
     background-color: rgb(0, 155, 64);
     color: white;
     position: fixed;

}


#home{
        padding-top: 35%;  
        background: url(../images/i2.jpg) no-repeat;
        background-size: cover;
        height: 83vh;
        width: 60%;
        margin-left: 25%;
       
}

#text{
    align-items: center;
    text-align: center;
    color: rgb(161, 21, 11);
    background-color: rgb(0, 255, 42);
    padding-top: 5%;
    margin-left: 40%;
    text-align: center;
    width: 40%;
    
}

#i{
    padding-top: 18vh;
   
}

#insert{
    margin: 0 25vw 0 40vw;
    padding: 10vh;
    border: 15px solid rgb(0, 155, 64);
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;   
}

input{
    padding: 10px;
    width: 100%;
}

button{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color:rgb(0, 155, 64); ;
}



#display{

    text-align: center;
    font-size: 30px;
    color: rgb(51, 255, 0);
    
}
#d{
    
    padding-top: 20vh;
    width: 90%;
    padding-left: 30%;

}

.search{
    padding: 10vh 0 0 20vw;
    font-size: 30px;

#searchinput{
    text-align: center;
    margin-top: 5vh;
    margin-left: 30%;
    width: 30%;
    }

    input{
        padding: 10px;
        border-radius: 10px;
    }
    button{
        padding: 10px;
        border-radius: 10px;
        margin: 5px;
    }
    #s-dis{
        padding-top: 10px;
        text-align: center;
    }
}

#up{
    padding-top: 6%;
}
#update{
    padding-top: 10vh;
    margin-left: 20vw;
    font-size: 30px;
    text-align: center;
}