
.flex-column{
    background-color: rgb(41, 165, 165);
    height: 90vh;
    font-weight: bold;
    gap: 80px;
    text-align:center ;
    width: 100%;
    padding-top: 30px;
}

#sidebar-wrapper{
    padding-left: 0px;
    
}

#nav{
    background-color: aqua;
}

/* #page-content-wrapper{
    background-color: brown;
    height: 90vh;
    width: 85%;
    padding-left: 20%;
} */

